# data types

In [1]:
x = 3.5
print(x,type(x))

3.5 <class 'float'>

In [2]:
print(int(x)) #changing float data type into integer

3

In [3]:
print(x) #data type can be changed to other only at once by
#calling as float in int and after it can be stored as its normal data type

3.5

# type casting
type casting is changing the value's data type

In [4]:
x = 34.5
print(x,type(x))
#type casting of float into int
x =int(x)
print(x,type(x))

34.5 <class 'float'>
34 <class 'int'>

In [8]:
x = '31'
print(x,type(x))
#type casting of string into int
x = int(x)
print(x,type(x))

31 <class 'str'>
31 <class 'int'>

In [9]:
x = '32'
print(x,type(x))
#type casting of string to float
x = float(x)
print(x,type(x))

32 <class 'str'>
32.0 <class 'float'>

In [10]:
#complex numbers
x=2+4j
print(x,type(x))

(2+4j) <class 'complex'>

In [12]:
#real and imaginary values of complex num
x.real,x.imag

(2.0, 4.0)

# converting int into binary,octa,hexa

In [13]:
x = 31
print(x,type(x))
#converting int into binary 
x =bin(x)
print(x,type(x))

31 <class 'int'>
0b11111 <class 'str'>

In [14]:
x = 43
print(x,type(x))
#converting int into octa 
x=oct(x)
print(x,type(x))

43 <class 'int'>
0o53 <class 'str'>

In [16]:
x = 64
print(x,type(x))
#convrting int into hexa
x = hex(x)
print(x,type(x))

64 <class 'int'>
0x40 <class 'str'>

In [21]:
""""x='64'
print(x,type(x))
#convert int to hex
x=hex(x)   #uncomment to see the ans
print(x,type(x))""" #str cannot be convert as the integer can convert

'"x=\'64\'\nprint(x,type(x))\n#convert int to hex\nx=hex(x)   #uncomment to see the ans\nprint(x,type(x))'

# converting binary,octa,hexa into int

In [24]:
int("0x40",0)

64

In [25]:
int("0o53",0)

43

In [26]:
int("0b11111",0)

31

In [32]:
print(int("0x40",0),int("0o53",0),int("0b11111",0)) 
print(int("040",16),int("053",8),int("011111",2)) #by removing b,o,x from base num and adding theeir base values of 2,8,16

64 43 31
64 43 31

In [33]:
#int base must contain value between 2 and 6

#sequential data type

types of sequencial data type 1. string("",'',"""",''"") 2.list[] 3.list()

#python index starts with 0  
hello  
^^^^^  
01234  ----->indexing

In [38]:
#slicing
x='hello'
x[1:4:] #syntax of slicing [start:end:stepsize]

'ell'

In [39]:
x='chalo'
x[0:6:2]

'cao'

negative indexing   
negative indexing always starts with -1 not with 0  
h e l l o  
^ ^ ^ ^ ^  
-5-4-3-2-1

In [45]:
x = 'hello'
x[-1:-5:-1]   #step size in negative indexing is always'-1'

'olle'

In [46]:
x='telangana state'
x[5:9:1] #indexing

'gana'

list is a heterogenius contains all types of data

In [54]:
x =['hello',1,2,3,45.6,4+2j]
x[1:4:1]

[1, 2, 3]

In [56]:
x[-1:-3:-1]

[(4+2j), 45.6]