## function
* it is a block of code, which executes a desired task. A function can be called n-number of times instead of writing the code required to execute the task.
* There are two steps in creating a function, `defining a function` and `calling the function`

* syntax of defining a func:
  * def func_name(parameter/s):
    * block of code

`
  * <u>def</u> is a keyword, which tells the interpretor that we are defining a function
  * <u>func_name</u> is name we give to the function we are defining, it acts as a variable name to the block of code we are writing
  * <u>parameter</u> these can be considered as the variables we use to write/define our function`

* sytax for calling a function:
  * func_name(arg/s)
* <u>arg/s</u> are actual inputs for function

In [1]:
# defining a func

def fullName(fname, lname):
  print(fname+' '+lname)

In [2]:
# calling the func
fullName('James', 'Bond')

James Bond

### Arguements

#### positional arguements
* while passing the arguemnt/s, the value/s of arg/s wiil be assigned to parameters based on the order of paraeters at time of defining the func.
* while calling `fullName` function, we interchanged the order of args passed and this resulted in a different o/p.
* these kind of passing the arguements based on positions are called as postional arguements

In [3]:
fullName('Bond', 'James')

Bond James

#### keyword arguements
* at time of calling the func, if we pass the arguements by using the parameter name, these kind of arguements are called as keyword arguements

* func_name(para1=arg1, para2=arg2)



**NOTE:**

    *  There shoild be no conflict/multiple args for same parameter
    *  keyword args should come at end

In [4]:
fullName(lname = 'Bond', fname = 'James')

James Bond

In [5]:
def greet(greeting, fname, lname):
  print(greeting+', '+fname+' '+lname)

In [6]:
greet('holla', 'james', 'bond') # positional args

holla, james bond

In [7]:
greet(fname = 'james', lname = 'bond', greeting = 'hello') # keyword args

hello, james bond

In [8]:
#greet('james', 'bond', greeting = 'hello') # uncomment to see the error ---> conflict/multiple args for same parameter

In [9]:
#greet('hello', fname = 'james', 'bond') # uncomment to see the error --> keyword args should come at end

In [10]:
greet('hello', lname = 'bond', fname = 'james')

hello, james bond

#### Default arguements

* default arguements are those we pass at time of defining the func
* we pass default arguements by assing a default arguement value to the parameter
* def foo(a, b, c =10):
  
      block of code

**NOTE:**

    * Default args should come at last

In [11]:
def greet(fname, lname, greeting = 'Hollaaa!'):
  print(f'{greeting}, {fname} {lname}')

In [12]:
greet('James', 'Bond')

Hollaaa!, James Bond

#### return
* if our intention is to capture and reuse the value given by our user defined function, then we need to use `return` statement
* `return` will return the value/s passed to it and comes outside the function block with the value given to it

In [16]:
def foo(a, b):
  x = []
  for i in range(a,b+1):
    if i%2==0:
      x.append(i)
  print(x)

In [17]:
foo(1, 10)

[2, 4, 6, 8, 10]

In [18]:
a = foo(1,11)
print(a)

[2, 4, 6, 8, 10]
None

* in above output, `[2, 4, 6, 8, 10]` is printed by the `print` statement used within the `foo` function body.
* when we tried to assing the value to `a`, `None` has been assigned as `foo` has no value to assign, this evident from `print(a)` output

In [20]:
def foo(a, b):
  x = []
  for i in range(a,b+1):
    if i%2==0:
      x.append(i)
  return x

In [21]:
a = foo(1,11)
print(a)

[2, 4, 6, 8, 10]

In [22]:
a.remove(10)

In [23]:
a

[2, 4, 6, 8]

In [28]:
# wap to return a lists of even and odd numbers

def foo(a:int, b:int):
  even, odd = [], []
  for i in range(a, b+1):
    if i%2==0:
      even.append(i)
    else:
      odd.append(i)
  return even, odd

In [32]:
a = foo(1,11)
print(a[0], a[1], sep ='\n')

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9, 11]

In [33]:
a, b = foo(11,21)
print(a, b, sep = '\n')

[12, 14, 16, 18, 20]
[11, 13, 15, 17, 19, 21]

#### arbitary arguements

In [34]:
def foo(*args, **kwargs):
  for arg in args:
    print(arg, end = ', ')
  print()
  for kwarg in kwargs.items():
    print(kwarg)

In [35]:
foo(*[1,2,3], **{'a':1, 'b':2})

1, 2, 3,
('a', 1)
('b', 2)

In [43]:
def foo(*a, **b):
  for i in a:
    print(i)
  for i in b.items():
    print(i)

In [46]:
foo( *[1, 2, 3, 4, 5], **{'a':1, 'b':2} )

1
2
3
4
5
('a', 1)
('b', 2)

In [38]:
sum([1,2,3])

6

In [47]:
foo( *[1, 2, 3, 4, 5], a = 1, b = 2 )

1
2
3
4
5
('a', 1)
('b', 2)

In [50]:
# waf to check the score and award reuslt. if student has failed in subjects we need to print lists of subjs students has failed in
# assume higest marks in a sub a student can score is 100

def foo(**kwargs):
  marks = list(kwargs.values())
  if min(marks) < 32:
    x = [ele for ele, v in kwargs.items() if v<32]
    return 'fail', x

  else:
    if sum(marks)/len(marks) >= 80:
      return 'FWD'
    elif sum(marks)/len(marks) >= 60:
      return 'FistClass'
    else:
      return 'SecondClass'

foo(a = 50, b = 70, c = 90, d = 10, e = 25)

('fail', ['d', 'e'])

#### lambda functions

* these functions are called as anonymous functions
* these are defined in a single line
* syntax for labda functions:
    * `lambda` var/s: <`statement/s using these var/s`>

* these func by default will return a value, no need to write a return statement
* there is no cap on no of vars one can use to define a lambda func

Note: lambda funcs are genrally written or given as input to higher order functions.

In [52]:
def foo(x):
  if x%2==0:
    return 'even'
  else:
    return 'odd'

foo(5)

'odd'

In [53]:
(lambda x: 'even' if x%2 == 0 else 'odd')(5)

'odd'

In [54]:
eo = lambda x: 'even' if x%2 == 0 else 'odd'
eo(5)

'odd'

In [56]:
eoList = lambda x, y: ([ele for ele in range(x, y+1) if ele%2==0], [ele for ele in range(x, y+1) if ele%2!=0])
e, o = eoList(1,11)
print(e, o, sep = '\n')

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9, 11]

#### filter
* filter function is used to filter the elements based on user's logic
* this user's logic is written as function, which gives a boolean output, True when it meets the user's logic, or else it'll return False
* filter func will return an iterator of class filter, we can type cast this to a list
* syntax of filter function:
    * filter(func, container/iterator)

In [58]:
e = lambda x: True if x%2==0 else False

In [60]:
x = filter(e, range(1,11))
print(x, type(x))

<filter object at 0x7b575a08f130> <class 'filter'>

In [61]:
x = list(x)
x

[2, 4, 6, 8, 10]

In [63]:
foo = lambda x: True if ord(x) in range(97, 110) else False

list(filter(foo, 'AbcDZzyYMm'))

['b', 'c', 'm']

#### map
* we use `map` function to apply our fuction on each element of an iterator
* syntax of `map` function:
  * map(func, iterator)

* op of map function is a map object, we need to type cast it to a list or other data type to see the op

In [64]:
p = lambda x: x**2

r = map(p, range(1,11))
print(r, type(r))

<map object at 0x7b575a1eded0> <class 'map'>

In [65]:
r = list(r)
r

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [70]:
foo = lambda x: x.upper() if ord(x) in range(97, 110) else x

r = map(foo, 'malayalam')
list(r)

['M', 'A', 'L', 'A', 'y', 'A', 'L', 'A', 'M']

In [71]:
def foo(func, x):
  return func+x

In [73]:
foo('hi'.upper(), "5")

'HI5'

In [75]:
import functools
from functools import reduce

In [76]:
foo = lambda x, y:  x-y
reduce(foo, range(1, 12))

-64