# range

* The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number.

In [4]:
x =list(range(1,10))
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
x=list(range(-1,-12,-1))
print(x)

[-1, -2, -3, -4, -5, -6, -7, -8, -9, -10, -11]

In [7]:
x=list(range(-11,0,1))
print(x)

[-11, -10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

# tuple

* tuples are immutable
* sequential
* heteriogenious

In [10]:
a = tuple()
a

()

In [12]:
a = tuple('hello')
a,len(a)

(('h', 'e', 'l', 'l', 'o'), 5)

In [13]:
a = (1,2.4,3-4j,False,print)
a[0]

1

In [14]:
a[3]

False

In [15]:
a[2]

(3-4j)

In [16]:
a[2:4]

((3-4j), False)

# count

* The count() method of a Tuple returns the number of times the given element appears in the tuple.

In [21]:
x = (11,12,13,14,12,13,14,15)
x.count(12)

2

In [19]:
help(x.count)

Help on built-in function count:

count(value, /) method of builtins.tuple instance
    Return number of occurrences of value.

# index

* Python index() method searches for the given element in a tuple and returns its position.
* It returns first occurrence of the element in the tuple. 
* Index starts from 0 and end at n-1 where n is length of tuple.

In [25]:
x = (11,12,13,14,12,13,14,15,16)
x.index(14)

3

In [26]:
x.index(16)

8

In [27]:
a = (5)
print(a,type(a))

5 <class 'int'>

In [28]:
a = (5,)
print(a,type(a))

(5,) <class 'tuple'>

# sets

* sets has no sequence
* sets has heteriogenious,clustered[no indexing]
* denoted by {} or set()
* sets are mutable
* takes iterators as input
* sets doesnot entertains or allows duplicate values
*

In [29]:
x = {1,2,3,1,2,3}
print(x,type(x))

{1, 2, 3} <class 'set'>

In [31]:
x = {0,1,2,True,False,'hello'}
print(x,type(x)) #true and false are represented by 1 and 0

{0, 1, 2, 'hello'} <class 'set'>

# methods of sets

# add

In [32]:
a = {1,2,3,4}
a.add(14)
print(a,len(a))

{1, 2, 3, 4, 14} 5

In [35]:
a.add('numbers')
a

{1, 14, 2, 3, 4, 'numbers'}

In [47]:
help(x.add)

Help on built-in function add:

add(...) method of builtins.set instance
    Add an element to a set.

    This has no effect if the element is already present.

# update

* The update() method updates the current set, by adding items from another set (or any other iterable).
* If an item is present in both sets, only one appearance of this item will be present in the updated set.

In [36]:
a = {1,2,3}
a.update({4,5,6})
print(a,type(a))

{1, 2, 3, 4, 5, 6} <class 'set'>

In [37]:
a = {1,2,3}
a.update([2,3,4])
print(a,type(a))

{1, 2, 3, 4} <class 'set'>

In [38]:
a.update((12,16))
a

{1, 2, 3, 4, 12, 16}

In [46]:
help(x.update)

Help on built-in function update:

update(...) method of builtins.set instance
    Update a set with the union of itself and others.

# remove

* The remove() removes the specified element from the set and updates the set.
* It doesn't return any value.
* If the element passed to remove() doesn't exist, KeyError exception is thrown.

In [50]:
x = {1,2,3,4,5,6}
x.remove(4)
x

{1, 2, 3, 5, 6}

In [51]:
x

{1, 2, 3, 5, 6}

In [52]:
x.remove(3)
x

{1, 2, 5, 6}

In [54]:
''''x.remove(7)
x''' #uncomment for error

"'x.remove(7)\nx"

In [45]:
help(x.remove)

Help on built-in function remove:

remove(...) method of builtins.set instance
    Remove an element from a set; it must be a member.

    If the element is not a member, raise a KeyError.

# discard

* The discard() method removes the specified item from the set.
* This method is different from the remove() method, because the remove() method will raise an error if the specified item does not exist, and the discard() method will not.

In [56]:
x = {1,'m',2,'n'}
x.discard('m')
print(x,type(x))

{1, 2, 'n'} <class 'set'>

In [57]:
x.discard('z')
print(x)

{1, 2, 'n'}

In [58]:
help(x.discard)

Help on built-in function discard:

discard(...) method of builtins.set instance
    Remove an element from a set if it is a member.

    Unlike set.remove(), the discard() method does not raise
    an exception when an element is missing from the set.

# pop

* The pop() method removes a random item from the set. 
* This method returns the removed item.

In [59]:
x = {1,'m',2,'n'}
x.pop()
print(x,len(x))

{2, 'n', 'm'} 3

In [60]:
x.pop()
x

{'m', 'n'}

In [61]:
x.pop()
x

{'m'}

In [62]:
x.pop()
x

set()

In [63]:
x

set()

In [64]:
help(x.pop)

Help on built-in function pop:

pop(...) method of builtins.set instance
    Remove and return an arbitrary set element.
    Raises KeyError if the set is empty.

# copy

* The copy() method returns a shallow copy of the set in python.

In [65]:
x = {21,54,'hello','welcome',23.4}
print(x,id(x))

{23.4, 'hello', 21, 54, 'welcome'} 1916577926720

In [66]:
y = x.copy()
print(x,y,id(x),id(y),sep='\n')

{23.4, 'hello', 21, 54, 'welcome'}
{23.4, 'hello', 21, 54, 'welcome'}
1916577926720
1916591247360

# clear

* The method clear is used to clear all the data from the set data structure. 
* All elements from set will clear. And we will leave with an empty set.

In [71]:
x = {21,54,'hello','welcome',23.4}
x.clear()
x

set()

In [72]:
help(x.clear)

Help on built-in function clear:

clear(...) method of builtins.set instance
    Remove all elements from this set.